.areaSearchCity {
    width: 100%;

    .areaInputCity{
        border: 2px solid #414ABA;

        .ant-input-suffix{
            color: #414ABA;
            ;
        }
    }
}

.area-input-date{
    padding: 74px 0px 0px 0px;
}

